$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//nucleus

$font_big_title: 31px;//line-height:18px; font-family: Ubuntu; font-weight: 700;
$font_size_subtitle: 8px; //font-family: Ubuntu; font-weight: 400;
$font_size_btn: 6px;//color: #ffffff;font-weight: 700;/* Text style for "Bekijk, be" */    font-weight: 400;/* Text style for "wat wij vo" */

$font_size_headings_services: 10px;//font-family: Ubuntu; font-weight: 700;
$font_size_paragraph: 6px; //color: #ffffff;  font-weight: 400;/* Text style for "Wij ontwik" */line-height: 10px;text-decoration: underline;/* Text style for "Webplatfo," */line-height: 1px;text-decoration: underline;